.repoInput {
  display: flex;
  align-items: flex-end;
  gap: 10px;

  &__group {
    width: 100%;

    &--example {
      font-size: 12px;
      margin: 10px 0;
      
      & span {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}

