@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon:XROT@2&display=swap');
@import '~bootstrap/scss/bootstrap';

.App {
  &__container {
    width: 1200px;
    margin: 50px auto;
  }
}

.dataError {
  color: red;
}
